h1 {
color:rgb(0, 0, 0);
font-size:60px;

}

body{
background-color:yellow;
}

.topbar {
    background-color: orange;
    height: 300px;
    width:500px;
}

.imgto {
    height: 400%;
    width: 400%;
}


.menyer {
    font: menu;

    height: 300px;
    width:800px;
}

.dagenstilbud {
    background-color: red;
    height: 100px;
    width:500px;
}